<ion-content>
  <ion-item>
    <ion-thumbnail item-start>
      <img src="assets/placeholder/alpaca.png">
    </ion-thumbnail>
    <h1>{{username}}</h1>
    <button (click)="showNamePrompt()" ion-button clear item-end>Edit</button>
  </ion-item>

  <ion-list no-lines>
    <ion-list-header>
      <h1>Stats</h1>
    </ion-list-header>
    <ion-item>
      Level 30 (style this to be a badge)
    </ion-item>
    <ion-item>
      <progress value="10" max="100"></progress>
      <br>
      <div class="muted-comment">
        322 more exp to the next level
      </div>
    </ion-item>
  </ion-list>
<!-- need more space here separating the lists -->

  <ion-list>
    <ion-list-header>
      <h1 style="display:inline;">Achievements</h1>
      <a (click)="presentToast('hot damn')" *ngIf="unreadAchievements.length > 0" style="padding-left: 1em; display:inline;">
        NEW <ion-badge item-end>{{unreadAchievements.length}}</ion-badge>
      </a>
    </ion-list-header>
    <ion-item *ngFor="let achievement of achievements">
      <ion-icon name="trophy" item-start></ion-icon>
      {{achievement}}
    </ion-item>
  </ion-list>

</ion-content>